.col-md-12#footerbackground

footer.row
  .col-md-12#footer
    .col-md-1
    .col-md-10
      .col-md-2
        img.img-responsive(src="images/footer_logo.png")
      .col-md-2
        h6.footerHeader Company
        a(href="#") About <br>
        a(href="#") Press <br>
        a(href="#") Investors <br>
        a(href="#") Charters <br>
        a(href="#") Contact Us <br>
      .col-md-2
        h6.footerHeader New Reservations
        a(href="#") About <br>
        a(href="#") Press <br>
        a(href="#") Investors <br>
        a(href="#") Charters <br>
        a(href="#") Contact Us <br>
      .col-md-2
        h6.footerHeader Manage Travel
        a(href="#") About <br>
        a(href="#") Press <br>
        a(href="#") Investors <br>
        a(href="#") Charters <br>
        a(href="#") Contact Us <br>
      .col-md-2
        h6.footerHeader Terms & Legal
        a(href="#") About <br>
        a(href="#") Press <br>
        a(href="#") Investors <br>
        a(href="#") Charters <br>
        a(href="#") Contact Us <br>
      .col-md-2
        h6.footerHeader Social
        a(href="#") About <br>
        a(href="#") Press <br>
        a(href="#") Investors <br>
        a(href="#") Charters <br>
        a(href="#") Contact Us <br>
    .col-md-1

script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
script(src='js/functions.js')
