nav.navbar#nav(role='navigation')
     .container
       .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
           span.sr-only Toggle navigation
           span.icon-bar
           span.icon-bar
           span.icon-bar
         a.navbar-brand(href='index.html')
          img#logo(src="images/logo.png" alt="Allegiant Airlines")
       
       .navbar-collapse.collapse
         ul.nav.navbar-nav.navbar-right(role="list")
           li(role="listitem")
             a(href='index.html#langs') Book Flight
           li(role="listitem")
             a(href='questions.html') Flight Status
           li(role="listitem")
             a(href='#') Check-In
           li(role="listitem")
             a(href='#') Book Hotel
           li(role="listitem")
             a(href='#') Rent A Car
           li(role="listitem")
             a(href='#') Help?
           
           li(role="listitem")
            a#logIn.btn-default(href='#', role="button") Log In

div#background

    
    
